 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
 height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin-bottom: 16px;
}

nav {
    background-color: #C4A381;
    padding: 18px;

}

nav ul {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #EEF1BD;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #644536;
    padding: 18px;
}